<div class="ui dimmer modals page transition visible active" style="display: flex !important;">
  <div class="ui modal active ">
    <i class="close icon" (click)="closeDialog()"></i>
    <div class="header">
      {{dialogData?'Edit':'Add'}} event
    </div>
    <div class="content">

      <div class="ui equal width grid">
        <div class="ui row">
          <div class="eight wide column">
            <div class="ui calendar" id="startDate">
              <div class="ui input left icon select_full_width">
                <i class="calendar icon"></i>
                <input type="text" placeholder="Date/Time" [formControl]="fromControl">
              </div>
            </div>
          </div>
          <div class="eight wide column">
            <div class="ui calendar" id="endDate">
              <div class="ui input left icon select_full_width">
                <i class="calendar icon"></i>
                <input type="text" placeholder="Date/Time" [formControl]="toControl">
              </div>
            </div>
          </div>
        </div>
        <div class="ui row">
          <div class="four wide column">
            <select class="ui dropdown select_full_width" [formControl]="patientControl">
              <option *ngFor="let item of patientsList" [value]="item.id">
                {{item.first_name + ' ' + item.second_name + ' ' + item.last_name}}
              </option>
            </select>
          </div>
          <div class="four wide column">
            <select class="ui dropdown select_full_width" [formControl]="procedureControl">
              <option *ngFor="let item of procedureList" [value]="item.id">
                {{item.description}}
              </option>
            </select>
          </div>
          <div class="two wide column ">
            <select class="ui dropdown select_full_width" [formControl]="roomControl">
              <option *ngFor="let item of roomList" [value]="item.id">
                {{item.description}}
              </option>
            </select>
          </div>
          <div class="four wide column">
            <select class="ui dropdown select_full_width" [formControl]="staffControl">
              <option *ngFor="let item of staffList" [value]="item.id">
                {{item.first_name + ' ' + item.second_name + ' ' + item.last_name}}
              </option>
            </select>
          </div>
          <div class="two wide column">
            <select class="ui dropdown select_full_width" [formControl]="statusControl">
              <option *ngFor="let item of eventStatus" [value]="item.key">
                {{item.value}}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br/>
    </div>
    <div class="actions">
      <div class="ui black deny button" (click)="closeDialog()">
        Cancel
      </div>
      <div class="ui positive right labeled icon button" (click)="onSubmit()">
        Save
        <i class="checkmark icon"></i>
      </div>
    </div>
  </div>
</div>
