
<div class="login_wrapper">

  <h2 class="ui center aligned icon header">
    <i class="medrt icon"></i>
    <div class="content">
      Independent Medicine
      <div class="sub header">Your health is in our hands</div>
    </div>
  </h2>
  <div class="ui two column centered grid">
    <div class="four column centered row">
      <div class="column">
        <div class="ui labeled input">
          <div class="ui label label_wraper">
            Login
          </div>
          <input type="text" placeholder="Login...">
        </div>
      </div>
    </div>
    <div class="four column centered row">
      <div class="column">
        <div class="ui labeled input">
          <div class="ui label label_wraper">
            Password
          </div>
          <input type="text" placeholder="Password">
        </div>
      </div>
    </div>

  </div>
</div>



