<div class="event_component_wrapper">
  <h2 class="ui header">
    <i class="clipboard list icon"></i>
    <div class="content">
      Events dashboard
    </div>
  </h2>
  <div class="ui right aligned grid">
    <div class="right floated right aligned six wide column">
      <div class="ui right floated small primary labeled icon button" (click)="openDialog(null)">
        <i class="plus circle icon"></i> Add Event
      </div>
    </div>
  </div>

  <app-event-list [openDialog]="openDialog" [openDeleteDialog]="openDeleteDialog"></app-event-list>

  <app-event-form *ngIf="showDialog"
                  [dialogData]="dialogData"
                  [closeDialog]="closeDialog"
                  [submitForm]="submitForm"
                  [dialogError]="dialogError"
  ></app-event-form>

  <app-dialog *ngIf="showDeleteDialog"
              [onConfirm]="confirmDeleteDialog"
              [onCancel]="closeDeleteDialog"
              [icon]="deleteDialogCong.icon"
              [title]="deleteDialogCong.title"
              [description]="deleteDialogCong.description"
  ></app-dialog>
</div>
