<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.show_sql">true</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/med</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">127001</property>
        <property name="hbm2ddl.auto">validate</property>
        <mapping class="com.tsystems.javaschool.medical.backend.entities.DiagnosesEntity"/>
        <mapping class="com.tsystems.javaschool.medical.backend.entities.DrugsEntity"/>
        <mapping class="com.tsystems.javaschool.medical.backend.entities.EventsEntity"/>
        <mapping class="com.tsystems.javaschool.medical.backend.entities.PatientsEntity"/>
        <mapping class="com.tsystems.javaschool.medical.backend.entities.PrescriptionsEntity"/>
        <mapping class="com.tsystems.javaschool.medical.backend.entities.ProceduresEntity"/>
        <mapping class="com.tsystems.javaschool.medical.backend.entities.RoomsEntity"/>
        <mapping class="com.tsystems.javaschool.medical.backend.entities.ScheduleEntity"/>
        <mapping class="com.tsystems.javaschool.medical.backend.entities.SpecializationsEntity"/>
        <mapping class="com.tsystems.javaschool.medical.backend.entities.StaffEntity"/>
        <mapping class="com.tsystems.javaschool.medical.backend.entities.TherapyLogEntity"/>
        <mapping class="com.tsystems.javaschool.medical.backend.entities.TimePatternsEntity"/>

        <!-- DB schema will be updated if needed -->

    </session-factory>
</hibernate-configuration>
